body
{
    background-color: gray;
}
.thongtin{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.tieude{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60%;
    margin-top:20%;
    justify-content: space-between;
}
.khungchua1 {
    border:3px solid black;
    
    
}
